<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>UIAppFonts</key>
	<array>
		<string>Poppins-Bold.ttf</string>
		<string>Poppins-Light.ttf</string>
		<string>Poppins-Medium.otf</string>
		<string>Poppins-Regular.otf</string>
		<string>Poppins-SemiBold.ttf</string>
		<string>Tahu.ttf</string>
	</array>
    <key>NSLocationWhenInUseUsageDescription</key>
    <string>Your app needs access to your location to show it on the map.</string>
    <key>NSLocationAlwaysAndWhenInUseUsageDescription</key>
    <string>Your app needs access to your location to show it on the map.</string>
    <key>UIStatusBarStyle</key>
    <string>UIStatusBarStyleDarkContent</string>
</dict>
</plist>
